@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

:root {
    --para-color: #00b1b9;
    --para-size: 14px;
    --para-weight:400;
    --h1-color: linear-gradient(to bottom right, #017BFF, #0C1678);
    --h1-weight: 500;
}



body {
    width: 100vw;
    min-width: 100%;
    overflow-x: hidden;
}

section {
    width: 100%;
    height: 920px;
    min-width: 100%;
}

/* intro */

.intro {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #017BFF,#0C1678);
    position: relative;
    height: 680px;
    align-items: center;
}

.intro .doctor {
    height: 610px;
    width: 540px;
    position: absolute;
    right: 2%;
    top: 20%;
    z-index: 0;
}

.intro header,
.intro main,
.intro footer {
    width: 100%;

}

.intro header,
.intro footer {
    height: 20%;
}

.intro main {
    height: 60%;
}

.intro header {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.intro header img {
    height: 75px;
}

.intro nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

.intro nav .menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 20px;
}

nav .signup-btn {
    display: flex;
}

nav .signup-btn .login,
nav .signup-btn .signup {
    padding: .75rem 1rem;
    border-radius: 40px;
    border: solid #fff 2px;
    margin: 0 .5rem;
    width: 120px;
}

nav .signup-btn .login {
    background-color: #fff;
}

nav .signup-btn .signup {
    background-color: transparent;
    color: #fff;
}

.intro main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 1;
}


.intro main h1,
.intro main p {
    color: #fff;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.intro main p {
    width: 70%;
}

.intro main h1 {
    font-size: 4rem;
    font-weight: var(--h1-weight);
}

.intro main .enroll,
.intro main .contact {
    padding: .75rem 1rem;
    border-radius: 40px;
    border: solid #fff;
    margin: 1rem .5rem;
    border-width: 2px;
}

.intro main .enroll {
    background-color: #fff;
}

.intro main .contact {
    background-color: transparent;
    color: #fff;
}

.intro footer {
    display: flex;
    justify-content: center;
}

.intro footer div {
    position: relative;
}

.intro footer div p {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: var(--para-size);
    top: 70%;
    left: 50%;
    color: #fff;
}

/* Intro-2 */

.intro-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 720px;
    width: 100%;
}

.intro-2 .rectangle {
    height: calc(100% - 4rem);
    width: calc(100% - 2rem);
    margin: 2rem;
    position: absolute;
    top: 4rem;
}

.rectangle div h1 {
    background: var(--h1-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: var(--h1-weight);
}

.rectangle .main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    flex-direction: row;
}


.main .para {
    width: 50%;
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    position: relative;
}

.main .image {
    width: 50%;
    flex-shrink: 0;
    
}

.image img {
    width: 80%;
}

.p-top {
    display: flex;
    position: relative;
    padding: 0 1rem;
    height: 40%;
}

.p-top .box {
    margin-top: 0.2rem;
    margin-right: 3rem;
    width: 5px;
    height: 65%;
    background-color: #28285e;
    position: absolute;
    left: 0%;
}


.p-top .p1 {
    font-weight: 500;
    letter-spacing: -.5px;
    color: #28285e;
    margin-left: 2rem;
    width: 80%;
}

.p-bottom {
    position: absolute;
    top: 30%;
    left: 2%;
}

.para .p2 {
    font-weight: var(--para-weight);
    font-size: var(--para-size);
    padding:0 3rem;
    color: var(--para-color);
    width: 90%;
}

.para .sign {
    padding: 0 1rem;
    margin: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.sign .read-more {
    color: var(--para-color);
    text-decoration: none;
    font-weight: var(--para-weight);
    font-size: var(--para-size);
    position: relative;
}

.sign .read-more img {
    position: absolute;
    top: -50%;
    right: -60%;
}

/* intro 3 */

.intro-3 {
    background-color: #f2fcfb;
    position: relative;
    width: 100%;
}

.intro-3 .frame442 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 30%;
}

.intro-3 .frame441 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 30%;
}

.intro-3 .content {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.intro-3 .content .line {
    position: absolute;
    left: 5%;
    top: 0;
    height: 1840px;
}

.content .box-1 {
    width: 50%;
    height: 100%;
    transform: translate(10%,35%);
    display: flex;
    flex-direction: column;
}

.content .box-2 {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    overflow-y: scroll;
}

.content .box-1 h1 {
    display: flex;
    justify-content: flex-start;
    background: var(--h1-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}

.content .box-1 p {
    font-size: var(--para-size);
    color: var(--para-color);
    font-weight: var(--para-weight);
    margin: .5rem 0;
}

.states {
    margin-left: 4rem;
    height: 1840px;
}

.states .state {
    position: relative;
    margin: 14rem 0;
}

.state img {
    position: absolute;
    width: 50px;
    left: -62.5px;
}

.intro-3 ::-webkit-scrollbar {
    background-color: #F2F2F2;
    height: 100%;
    width: 7px;
    padding: 0 1rem;
}

.intro-3 ::-webkit-scrollbar-thumb {
    background-color: #83838371;
    width: 7px;
    border-radius: 10px;
}



/* .content .box-2 .state1 {
    position: absolute;
    top: 25.5%;
    left: 10%;
}

.content .box-2 .state2 {
    position: absolute;
    top: 70.5%;
    left: 10%;
} */

.content .state h3 {
    color: #28285e;
    font-size: 1.5rem;
}

.content .state p {
    width: 50%;
    font-size: var(--para-size);
    font-weight: var(--para-weight);
    color: var(--para-color);
}


/* intro 4 */

.intro-4 {
    position: relative;
    width: 100%;
}

.intro-4 .container {
    width: 100%;
    height: 100%;
    margin: 2rem 0;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container .team {
    display: grid;
    grid-template-columns: 3;
    justify-content: center;
}

.container .team .doc {
    position: relative;
    width: 248px;
    margin: 1rem;
    height: 322.812px;
}

.doc img {
    border-radius: 20px;
}

.container .team .doc1 {
    grid-row: 1;
    grid-column: 1;
}

.team .doc img {
    width: 248px;
}

.container .team .doc2 {
    grid-row: 1;
    grid-column: 2;
}

.container .team .doc3 {
    grid-row: 1;
    grid-column: 3;
}

.container .team .doc4 {
    grid-row: 2;
    grid-column: 1;
}

.container .team .doc5 {
    grid-row: 2;
    grid-column: 2;
}



.team .doc .overlay {
    position: absolute;
    background: linear-gradient(to top,#000000e3, transparent, transparent);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}

.overlay .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
}

.overlay .description h4 {
    font-weight: 500;
}

.overlay .description p {
    font-size: 12px;
    font-weight: var(--para-weight);
}

.container .meet {
    margin-bottom: 2rem;
}

.meet p {
    color: var(--para-color);
    font-size: var(--para-size);
    font-weight: var(--para-weight);
}

.meet h1 {
    color: #28285e;
    font-size: 2rem;
}

/* intro 5 */

.intro-5 {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.intro-5 .box1,
.intro-5 .box2 {
    width: 50%;
    height: 100%;
}


.intro-5 .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 5rem;
}

.box1 h1 {
    background: var(--h1-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box1 p {
    font-size: var(--para-size);
    font-weight: var(--para-weight);
    color: var(--para-color);
}

.intro-5 .box2 {
    position: relative;
}

.box2 .vector-7 {
    position: absolute;
    left: 0%;
    height: 100%;
}

.box2 .group-30 {
    position: absolute;
    left: -4%;
    top: 10%;
}

/* intro 6 */

.intro-6 {
    height: 720px;
    width: 100%;
    background-color: #fafdfc;
}

.intro-6 .container-6 {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.intro-6 .container-6 .top-6 {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.top-6 p {
    font-size: var(--para-size);
    color: var(--para-color);
    width: 32%;
}

.top-6 h1 {
    color: #28285e;
}

.intro-6 .container-6 .content {
    height: 70%;
    width: 67%;
    position: relative;
    overflow: auto;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
}

.intro-6 ::-webkit-scrollbar {
    background-color: #F2F2F2;
    height: 7px;
    width: 100px;
    padding: 0 1rem;
}

.intro-6 ::-webkit-scrollbar-thumb {
    background-color: #28285e;
    width: 10px;
    border-radius: 10px;
}

.container-6 .content .rectangle-3086 {
    position: absolute;
    width: 2680px;
    height: 4px;
    left: 0;
    top: 30%;
    background: #F2F2F2;
    border-radius: 50px;

}

.content .carousel {
    width: 2680px;
    display: flex;
    position: absolute;
    top: 18%;
    height: 333px;
}

.carousel .steps {
    width: 294.5px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.steps h5 {
    height: 1.5rem;
    color: #28285e;
}

.steps img {
    height: 60px;
    width: 60px;
}

.steps h4 {
    height: 20%;
    height: 63.3px;
    color: #28285e;
    font-size: 1.5rem;
}

.steps p {
    color: var(--para-color);
    font-size: var(--para-size);
    font-weight: var(--para-weight);
}

/* intro 7 */

.intro-7 {
    background-color: #EDFBFA;
    position: relative;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-7 .frame439 {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
}

.intro-7 .frame-440 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
}

.intro-7 .display {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro-7 .display h1 {
    color: #B5B5B5;
    font-size: 4rem;
    margin: 2rem 0;
}


.badge {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.badge img {
    flex-basis: 20%;
    height: 50px;
    margin: .5rem 0;
}

/* intro 8 */

.intro-8 {
    background-color: #EDFBFA;
    overflow-x: hidden;
}

.intro-8 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
}

.intro-8 .content .top {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro-8 .content .top h1 {
    color: #28285e;
}

.intro-8 .content .top p {
    color: var(--para-color);
    font-size: var(--para-size);
    font-weight: var(--para-weight);
    width: 50%;
}


.intro-8 .content .top p {
    font-size: var(--para-size);
    color: var(--para-color);
}

.intro-8 .content .top h1 {
    font-size: 2rem;
    color: #28285e;
}

.plans {
    height: 80%;
    width: 70%;
    display: grid;
    margin: 2rem 0;
    justify-content: center;
}

.plans .plan {
    width: 280px;
    height: 280px;
    background-color: #fff;
    margin: 1rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    border: none;
    cursor: pointer;
}

.plan h1 {
    position: absolute;
    color: #F2F2F2;
    top: 5%;
    right: 5%;
    font-size: 3rem;
}

.plan h2 {
    position: absolute;
    bottom: 5%;
    left: 8%;
    background: var(--h1-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan .box {
    position: absolute;
    background: var(--h1-color);
    width: 2px;
    height: 90%;
    top: 4%;
    left: 3%;
}

.plan .description {
    text-align: left;
    margin: 4rem 1.5rem;
}

.plan .description h3 {
    background: var(--h1-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan .description p {
    font-size: 12px;
    color: var(--para-color);
    font-weight: var(--para-weight);
}

.plan1 {
    grid-row: 1;
    grid-column: 1;
}

.plan2 {
    grid-row: 1;
    grid-column: 2;
}

.plan3 {
    grid-row: 1;
    grid-column: 3;
}

.plan4 {
    grid-row: 2;
    grid-column: 1;
}

.plan5 {
    grid-row: 2;
    grid-column: 2;
}

.plan6 {
    grid-row: 2;
    grid-column: 3;
}

/* intro 9 */

.intro-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    height: 540px;
}

.intro-9 .container {
    width: 100%;
    height: 100%;
    margin: 0 5rem;
    background-color: #EDFBFA;
    position: relative;
    display: flex;
    border-radius: 2rem;
}

.container .content-m {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    top: .2%;
    left: 0;
}

.container .navigate {
    position: absolute;
    bottom: 0;
    width: 55%;
    height: 20%;
    left: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navigate .toggle-btn {
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    width: 15%;
    position: relative;
}

.toggle-label {
    height: 20px;
    width: 20px;
}

/* .toggle-btn input:focus + .toggle-label {
    background-color: #0284fe;
    height: 20px;
    width: 20px;
} */

.toggle-btn input {
    position: absolute;
    top: 20%;
}

#toggle1 {
    left: 2.5%;
}

#toggle2 {
    left: 44%;
}

#toggle3 {
    right: 2.5%;
}

.toggle-btn input:focus + .toggle-label {
    background-color: #0284fe;
}

.toggle-btn input:focus,
.toggle-label-2:focus {
    background-color: #0284fe;
}

.toggle-btn input:focus,
.toggle-label-3:focus {
    background-color: #0284fe;
}

.toggle-label {
    border-radius: 50%;
}

.rating {
    display: flex;
    width: 50%;
    align-items: flex-start;
}

.rating p {
    margin: 0 .5rem;
}


.intro-9 .container .double-q {
    position: absolute;
    top: -5%;
    left: 10%;
}

.intro-9 .container .content1 {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}

.intro-9 .container .content2 {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
}

.content2 h1 {
    font-size: 2rem;
    background: var(--h1-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content2 p {
    color: #28285e;
    line-height: 2rem;
    width: 75%;
    flex-wrap: wrap;
}

.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 .person {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 180px;
}

.person img {
    width: 55px;
}

.person h5 {
    font-size: .8rem;
    margin-top: 1rem;
    color: #28285e;
}

.person p {
    font-size: 12px;
    color: var(--para-color);
}

/* intro 11 */

.intro-11 {
    height: 620px;
    padding-bottom: 5rem;
}

.intro-11 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content .top-11 {
    text-align: center;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-11 p {
    font-size: var(--para-size);
    font-weight: var(--para-weight);
    color: var(--para-color);
}

.top-11 h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #28285e;
}

.content .articles {
    height: 80%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.articles .article {
    width: 250px;
    height: 100%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 1rem 0;
    position: relative;
    cursor: pointer;
    grid-row: 1;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.article img {
    width: 220px;
}

.article h3 {
    font-size: .7rem;
    color: #28285e;
    margin: .5rem 0;
}

.article .description {
    margin: 1rem .5rem 0 1rem;
}

.article .description p {
    font-size: 10px;
    color: var(--para-color);
}


.article .read-more {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    height: 10%;
}

.article .read-more p {
    position: absolute;
    top: 40%;
    left: 9%;
    font-size: var(--para-size);
    color: var(--para-color);
}

.article .read-more img {
    position: absolute;
    top: 25%;
    right: 20%;
}

.img {
    position: relative;
}

.img p {
    background-color: #28285e;
    color: #fff;
    font-weight: var(--para-weight);
    font-size: 12px;
    border-radius: 5px;
    padding: 2px 10px;
    width: 70%;
    position: absolute;
    bottom: 0px;
    left: 5px;
}

/* intro 12 */

.intro-12 {
    height: 444px;
    background: url(./img/Frame\ 135\ \(3\).svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-12 .content {
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: center;
}

.intro-12 .content .rectangle-6 {
    margin: 3rem 2rem;
    height: calc(100% - 40%);
}

.intro-12 .content .box-l,
.intro-12 .content .box-r {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 70%;
    width: 60%;
}

.box-l .read-more,
.box-r .read-more {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-left: 3rem;
    width: 100%;
    height: 50%;
}

.box-l .read-more p,
.box-r .read-more p {
    font-size: var(--para-size);
    font-weight: 300;
    /* position: absolute;
    left: 0%; */
}

.box-l .read-more img,
.box-r .read-more img {
    height: 30px;
    /* position: absolute;
    bottom: 0px;
    right: 0%; */
}


/* intro 13 */

.intro-13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    height: 620px;
}

.intro-13 header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.intro-13 header h1,
.intro-13 header .box {
    color: #28285e;
}

.intro-13 main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60%;
}

.intro-13 main .map {
    width: 50%;
}

main .round {
    position: absolute;
    width: 155px;
    height: 149px;
    left: 45%;
    top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round img {
    width: 100%;
    height: 100%;
}

.round .m-round {
    position: relative;
    width: 100%;
    height: 100%;
}

.m-round .s-round {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 27px;
    height: 26px;
}



.intro-13 header .box {
    display: flex;
}

.m-location {
    display: flex;
}

.m-location .location {
    display: flex;
    align-items: flex-start;
    margin: 0 1rem;
}

.location p {
    font-size: var(--para-size);
}

.location img {
    width: 12px;
    padding: .3rem 0;
}

.intro-13 footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 20%;
}

footer .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo .b-logo {
    margin: 1rem 0;
}

.social .icon {
    margin: 0 .5rem;
    text-decoration: none;
    height: 10px;
}

footer .links {
    display: flex;
}

.links .link1,
.links .link2 {
    display: flex;
}

footer .menu {
    list-style: none;
    margin: 0 1rem;
}

footer .menu .heading {
    color: #28285e;
}

footer .menu li a:any-link {
    font-size: 12px;
    text-decoration: none;
    color: var(--para-color);
}



/* RESPONSIVE PART */

/* UPTO 1240PX */

@media screen and (max-width: 1024px) {

    /* intro */
    .intro header {
        font-size: 16px;
    }

    /* intro 2 */

    .p-bottom {
        top: 30%;
    }

    /* intro 3 */ 
    .state img {
        left: -62.5px;
    }

    /* intro 13 */

    main .round {
        width: 75px;
        height: 75px;
        left: 47%;
        top: 7rem;
    }

    .m-round .s-round {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 13px;
        height: 13px;
    }
    
}

/* 820px and below */
@media screen and (max-width:920px) {

    /* intro */
    .intro header {
        width: 100%;
        padding: .5rem 1rem;
    }

    .intro header img {
        height: 50px;
        width: 10%;
        flex-basis: 10%;
    }

    .intro nav {
        padding: 0 .5rem;
        flex-basis: 90%;
    }

    .intro nav .menu a {
        margin: 0 .5rem;
    }

    nav .signup-btn .login,
    nav .signup-btn .signup {
        padding: .5rem .75rem;
        width: 100px;
    }

    .intro main h1 {
        font-size: 3rem;
    }

    .intro main p {
        font-size: var(--para-size);
    }

    .intro header {
        width: 100%;
        padding: .25rem .5rem;
    }

    .intro nav .menu a {
        margin: 0 .3rem;
        font-size: 12px;
    }

    /* intro 2 */

    .intro-2 {
        min-height: 1440px;
    }

    .rectangle .main {
        padding: 1rem 0;
        flex-direction: column;
        align-items: center;
    }

    .main .para {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
        flex-shrink: 1;
        position: relative;
    }

    .p-top .box {
        margin-top: 0.2rem;
        margin-right: 3rem;
        width: 5px;
        height: 60%;
        min-height: 30%;
        background-color: #28285e;
        position: absolute;
        left: 0%;
    }
    .main .image {
        width: 100%;
        height: 60%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .p-bottom {
        top: 40%;
    }

    .image img {
        width: 80%;
        height: 70%;
    }

    .rectangle {
        width: 100%;
    }

    /* intro 3 */

    .intro-3 {
        height: 1240px;
    }

    .intro-3 .content {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content .box-1 {
        width: 50%;
        height: 50%;
        transform: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content .box-2 {
        width: 100%;
        height: 50%;
        position: relative;
    }

    .states {
        margin-left: 4.7rem;
        height: 1440px;
    }

    .states .state {
        position: relative;
        margin: 8rem 0;
    }

    .state img {
        left: -60.5px;
    }
    
    .intro-3 .content .line {
        position: absolute;
        left: 5%;
        top: 0;
        height: 1440px;
    }

    .box2 .group-30 {
        position: absolute;
        left: -4%;
        top: 20%;
        width: 70%;
    }

    /* intro 6 */ 
    .top-6 p {
        width: 52%;
    }

    /* intro 7 */

    .intro-7 .display h1 {
        font-size: 3rem;
        margin: 2rem 0;
    }

    .badge img {
        height: 35px;
    }

    /* intro 8 */ 

    .intro-8 {
        height: 720px;
    }

    .plans .plan {
        width: 180px;
        height: 180px;
        background-color: #fff;
        margin: 1rem;
        border-radius: 10px;
        position: relative;
        display: flex;
        align-items: flex-end;
        border: none;
        cursor: pointer;
    }

    .plan h1 {
        position: absolute;
        color: #F2F2F2;
        top: 5%;
        right: 5%;
        font-size: 2rem;
    }

    .plan .description {
        text-align: left;
        margin: 3rem 1rem;
    }

    .plan .description h3 {
        background: var(--h1-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: .7rem;
    }

    .plan .description p {
        font-size: 6px;
        color: var(--para-color);
        font-weight: var(--para-weight);
    }

    /* intro 9 */

    .container .content-m {
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 80%;
        top: .2%;
        left: 0;
    }

    .intro-9 .container .content1 {
        width: 100%;
        height: 35%;
        display: flex;
        align-items: center;
    }
    
    .intro-9 .container .content2 {
        width: 100%;
        height:65%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 1rem;
    }

    /* intro 9 */

    .container .navigate {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20%;
        left: 0%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 1rem;
    }

    /* intro 12 */

    .intro-12 .content .rectangle-6 {
        margin: 3rem 2rem;
        height: calc(100% - 40%);
    }

}
/* 768px and above */
@media screen and (max-width: 1270px) {

    /* intro */
    .intro header {
        width: 100%;
        padding: .25rem .5rem;
    }

    .intro nav .menu a {
        margin: 0 .3rem;
        font-size: var(--para-size);
    }

    

}
/* between 560px and 768px */
@media screen and (min-width: 560px) and (max-width: 768px) {

    /* intro */
    .intro nav .menu {
        flex-basis: 70%;
    }

    nav .signup-btn .login,
    nav .signup-btn .signup {
        padding: .25rem .5rem;
        width: 100px;
        margin: .25rem 0;
    }

    .intro header img {
        height: 30px;
    }

    .intro header nav {
        display: flex;
        justify-content: space-between;
    }


    .intro nav .menu a {
        margin: 0 .2rem;
        font-size: 10px;
    }

    /* intro 2 */

}

/* 768px and below */
@media screen and (max-width: 768px) {

    /* intro */
    nav .signup-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 30%;
    }

    /* intro 3 */

    .states {
        margin-left: 4rem;
    }

    .content .box-1 {
        width: 50%;
        height: 100%;
        transform: none;
        display: flex;
    }

    .line {
        height: 540px;
    }

    .states {
        height: 540px;
    }

    .states .state {
        position: relative;
        margin: 4rem 0;
    }

    .states .state p {
        font-size: 10px;
    }

    .states .state h3 {
        font-size: 1rem;
    }

    .state img {
        left: -61px;
    }

    /* intro 4 */

    .intro-4 {
        height: 1840px;
    }

    .intro-4 .container {
    width: 100%;
    height: 100%;
    margin: 2rem 0;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    .container .team .doc1 {
        grid-row: 1;
        grid-column: 1;
    }
    
    .container .team .doc2 {
        grid-row: 2;
        grid-column: 1;
    }
    
    .container .team .doc3 {
        grid-row: 3;
        grid-column: 1;
    }
    
    .container .team .doc4 {
        grid-row: 4;
        grid-column: 1;
    }
    
    .container .team .doc5 {
        grid-row: 5;
        grid-column: 1;
    }

    /* intro 5 */

    .intro-5 {
        height: 1440px;
    }

    .intro-5 {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .box2 .vector-7 {
        position: absolute;
        left: 20%;
    }
    
    .box2 .group-30 {
        position: absolute;
        left: 16%;
        top: 10%;
        width: 70%;
    }

    .intro-5 .box1,
    .intro-5 .box2 {
        width: 100%;
    }

    .intro-5 .box1 {
        height: 50%;
    }

    .intro-5 .box2 {
        height: 50%;
    }

    /* intro 6 */

    .content .carousel {
        top: 20.5%;
    }
    .steps img {
        height: 40px;
        width: 40px;
    }

    .top-6 p {
        width: 55%;
    }

    /* intro 7 */

    .intro-7 .display h1 {
        font-size: 2rem;
        margin: 2rem 0;
    }

    /* intro 8 */ 

    .intro-8 .content .top h1 {
        font-size: 1rem;
        color: #28285e;
    }

    .intro-8 .content .top p {
        font-size: 12px;
    }

    /* intro 9 */

    .intro-9 {
        height: 760px;
    }

    .rating {
        display: none;
    }

    /* intro 11 */

    .intro-11 {
        height: 1840px;
    }

    .articles .article {
        margin: 3rem 0;
        grid-row: inherit;
        grid-column: 1;
    }

    /* intro 13 */

    main .round {
        width: 30px;
        height: 30px;
        left: 47%;
        top: 7rem;
    }

    .m-round .s-round {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 6px;
        height: 6px;
    }

    /* intro 13 */

    .intro-13 {
        height: 920px;
    }

    .intro-13 footer {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 20%;
    }

    main .round {
        width: 75px;
        height: 75px;
        left: 47%;
        top: 44%;
    }

    .m-round .s-round {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 13px;
        height: 13px;
    }

    footer .logo {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

}
/* between 375px and 560px */
@media screen and (max-width: 560px) {

    /* intro */
    .intro {
        height: 940px;
    }
    .intro header nav {
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }
    
    .btn-sec {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        justify-content: center;
        width: 60%;
    }

    .intro main .enroll,
    .intro main .contact {
        margin: .5rem 0;
    }

    .intro header img {
        flex-basis: 30%;
    }

    .intro nav {
        flex-basis: 70%;
    }

    /* intro 2 */ 

    .intro-2 {
        height: 1424px;
    }

    .rectangle {
        width: 100%;
    }

    .main .para {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
        flex-shrink: 1;
        position: relative;
        margin: 0 -2rem;
    }

    .main .image {
        width: 100%;
        height: 50%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .p-bottom {
        top: 30%;
        width: 100%;
    }

    .p2 {
        padding: 0;
        width: 100%;
        font-size: 12px;
    }

    .p-top .box {
        margin-top: 0.2rem;
        margin-right: 3rem;
        width: 5px;
        height: 60%;
        min-height: 50%;
        background-color: #28285e;
        position: absolute;
        left: 0%;
    }

    .states {
        margin-left: 3.5rem;
    }

    .state img {
        left: -44px;
        width: 30px;
        height: 30px;
    }

    /* intro 7 */

    .intro-7 .display h1 {
        font-size: 1.2rem;
        margin: 2rem 0;
    }

    .badge img {
        height: 25px;
    }

    /* intro 8 */

    .intro-8 {
        height: 1680px;
    }

    .plan {
        grid-column: 1;
        margin: -1rem;
    }

    .plan1 {
        grid-row: 1;
    }

    .plan2 {
        grid-row: 2;
    }

    .plan3 {
        grid-row: 3;
    }

    .plan4 {
        grid-row: 4;
    }

    .plan5 {
        grid-row: 5;
    }

    .plan6 {
        grid-row: 6;
    }

    /* intro 9 */

    .intro-9 {
        height: 920px;
    }

    .intro-9 .container {
        margin: 0 3rem;
    }

    /* intro 12 */

    .intro-12 {
        height: 920px;
        background: url(./img/Frame\ 353\ \(1\)\ 1.svg);
        justify-content: center;
        position: relative;
        background-repeat: no-repeat;
    }

    .intro-12 .content .box-l,
    .intro-12 .content .box-r {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 50%;
        width: 80%;
    }

    .intro-12 .content .rectangle-6 {
        margin: -2rem 2rem;
        transform: rotate(90deg);
        height: 100%;
    }

    .intro-12 .content {
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 50%;
        justify-content: center;
        position: absolute;
        top: 30%;
    }

    .box-l .read-more,
    .box-r .read-more {
        margin: 1rem 0;
        padding: 0 .5rem;
    }

    footer .links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .links .link1,
    .links .link2 {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 1rem 0;
    }

    .intro-13 header {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 485px) {

    /* intro 8 */

    .intro-8 {
        height: 1680px;
    }

    /* intro 9 */

    .intro-9 {
        height: 1240px;
    }

    .intro-9 .container {
        margin: 0 1rem;
    }

    .intro-9 .container .double-q {
        position: absolute;
        top: -2%;
        left: 10%;
    }

    .intro-9 .container .content1 {
        width: 100%;
        height: 35%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    
    .intro-9 .container .content2 {
        width: 100%;
        height:65%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 1rem;
    }

    /* intro 12 */ 

    .intro-12 {
        height: 800px;
        background: url(./img/Frame\ 353\ \(1\)\ 1\ \(1\).svg);
        justify-content: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .intro-12 .content {
        top: 20%;
    }

    /* intro 13 */

    .intro-13 header .box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .icon {
        height: 5px;
    }

    main .map {
        width: 466px;
    }

    .m-location {
        display: flex;
        margin: 1rem 0;
    }
}